VITE_SUPABASE_URL=https://blxznupihdwonyzlcetx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJseHpudXBpaGR3b255emxjZXR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNzYyOTgsImV4cCI6MjA4Nzk1MjI5OH0.lXPRCNXhBNGYbXvFwtyYcvDDU2zQB-zlh1inDi-rSag
VITE_API_BASE_URL=http://localhost:4000
